<link href="{{url_for('static', filename='css/index.css')}}") rel="stylesheet">
{% extends "base.html" %}

{% block body_contents %}
{% for post in posts %}
<div class="container post">
	<div class="row" onclick="location.href='postDetail?postseq={{post.postseq}}'">
		<div class="col">
			<a href="profile?zid={{post.zid}}"><img src="static/photos/{{post.photo}}" class="photo"></a>
	    </div>
	    <div class="col-11">
	    	<div><h3><a class="text-dark" href="profile?zid={{post.zid}}">{{post.full_name}}</a><h3></div>
			<div>{{post.time}}</div>
	    </div>
	</div>
	<div class="row message-body" onclick="location.href='postDetail?postseq={{post.postseq}}'">
		<div class="col">
			{{post.message}}
	    </div>
	</div>
	<div class="row">
		<div class="col-11">
	    </div>
	    <div class="col">
	    	<img data-id="{{post.postseq}}" data-toggle="modal" data-target="#myModal" src="static/image/comments.png" class="reply-btn openModal">
	    </div>
	</div>
</div>
<script type="text/javascript">
		$(document).on("click", ".openModal", function () {
		var mytoid = $(this).data('id');
		$(".modal-body #toid").val( mytoid );
	});
</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
	            <div class="modal-header removeborder">
	                <h5 class="modal-title" id="myModalLabel">Add a comment</h5>
	            </div>
	            <form action="comment" method="post">
	            	<div class="modal-body">
	            		<input name="toid" id="toid" type="hidden" value=""/>
	            		<textarea name="content" class="form-control" rows="3"></textarea>
	            	</div>
	            	<div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                <button type="submit" class="btn btn-primary">Submit</button>
	            	</div>
            	</form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}