<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
		send
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		<style>
				body {
				    background-color: #eee;
				}

				a, u {
				    text-decoration: none !important;
				}
				.form-signin {
				  max-width: 800px;
				  padding: 15px;
				  margin: 0 auto;
				  margin-top: 100px
				}

				.form-signin-heading {
				  margin-bottom: 50px;
				  text-align: center;
				}

				.log-input{
					margin-bottom: 1rem
				}

				.login-btn{
					margin-top: 1rem;
					width: 200px;
				}
		</style>
	</head>
	<body>
			<div class="container">
				<form class="form-signin" action="sendMail" method="post">
					<h1 class="form-signin-heading">Recover Password</h1>
					
				  	<div class="form-group row">
					    <label for="username" class="col-sm-3 col-form-label">Username</label>
					    <div class="col-sm-9">
					    	<input type="text" name="username" class="form-control log-input" id="username" placeholder="For example z5555555">
				    	</div>
				    	<div class="col-md text-center">
				    		<button class="btn btn-lg btn-primary login-btn" type="submit">Send Email</button>
				    	</div>
				  	</div>
				</form>
				<div class="col-md text-center">
					<a href="toLogin">Go to log in</a>
				</div>
				<div class="col-md text-center">
					{% if errormsg != None %}
					<h5 class="text-center text-danger">{{errormsg}}</h5>
					{% endif %}
				</div>
			</div>
	</body>
</html>