{% extends "base.html" %}

{% block body_contents %}
<div class="unswtalk_user_details">
{% if student_details.zid != None %}{{student_details.zid}}{% endif %}
{% if student_details.full_name != None %}{{student_details.full_name}}{% endif %}
{% if student_details.birthday != None %}{{student_details.birthday}}{% endif %}
{% if student_details.program != None %}{{student_details.program}}{% endif %}
{% if student_details.home_suburb != None %}{{student_details.home_suburb}}{% endif %}
<img src="static/photos/{{student_details.photo}}" width="100", height="100">
{% if student_details.friends != None %}
{% for friend in student_details.friends %}
{{friend.zid}}
<img src="static/photos/{{friend.photo}}" width="20", height="20">
{% endfor %}
{% endif %}
</div>

<form method="POST" action="">
    <input type="hidden" name="n" value="7">
    <input type="submit" value="Next student" class="unswtalk_button">
</form>
{% endblock %}
